body{
    background:black;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: gray;
}

.assignment img{
    width: 200px;
    padding: 10px ;
}

h1{
    color:white;
    text-align: center;
}

p{
    color: white;
}