body{
    background: #F2EAD0;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #A68D77;
}

.assignment img{
    width: 200px;
    border: 2px solid #734D2D;
    margin-right: 20px ;
}

h1{
    color:#261D1A;
    text-align: center;
}

p{
    color: #594936;
}
a{
    text-decoration: none;
    color: #4C6173;
}